<mat-card>
    <form #PostForm="ngForm" (submit)="onAddPost(PostForm)" >
      <mat-form-field>
        <input 
          matInput 
          type="text" 
          name="title"
          placeholder="Post Title"
          [(ngModel)]='enteredTitle'
          #postTitleField = "ngModel"
          required>
          <mat-error *ngIf="postTitleField.invalid">Please enter a post Title</mat-error>
      </mat-form-field>

      <mat-form-field>
        <textarea 
          matInput name="" 
          id="" 
          cols="30" 
          rows="10" 
          name="content"
          placeholder="Post Content"
          [(ngModel)]='enteredContent'
          #postContentField = "ngModel"
          required>
        </textarea>
        <mat-error *ngIf="postContentField.invalid">Please enter post Content</mat-error>
      </mat-form-field>
      <button [disabled]='PostForm.invalid' mat-raised-button color="primary" type="submit">Submit</button>
    </form>
</mat-card>
