<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)='onLogin(loginForm)' #loginForm='ngForm' *ngIf="!isLoading">
    <mat-form-field>
      <input 
      matInput 
      ngModel
      #emailInput = "ngModel"
      type="email" 
      name="email" 
      placeholder="email"
      required
      email>
      <mat-error *ngIf="!emailInput.valid">Please enter a valid Email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input 
      matInput 
      ngModel
      #passwordInput = "ngModel"
      type="password" 
      name="password" 
      placeholder="password"
      required
      >
      <mat-error *ngIf="!passwordInput.valid">Please enter a valid  password</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>
</mat-card>
